-- MySQL dump 10.13  Distrib 8.0.31, for Win64 (x86_64)
--
-- Host: localhost    Database: implantacao
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `chamados_espelho_local`
--

DROP TABLE IF EXISTS `chamados_espelho_local`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chamados_espelho_local` (
  `id_chamado_api` int NOT NULL,
  `id_cliente_api` int DEFAULT NULL,
  `nome_fantasia` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status_chamado` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `tipo_acompanhamento` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `descricao_problema` text COLLATE utf8mb4_unicode_ci,
  `data_prev_retorno` datetime DEFAULT NULL,
  `responsavel` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_importacao` datetime DEFAULT CURRENT_TIMESTAMP,
  `notificado` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id_chamado_api`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chamados_espelho_local`
--

LOCK TABLES `chamados_espelho_local` WRITE;
/*!40000 ALTER TABLE `chamados_espelho_local` DISABLE KEYS */;
/*!40000 ALTER TABLE `chamados_espelho_local` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chamados_retornos`
--

DROP TABLE IF EXISTS `chamados_retornos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chamados_retornos` (
  `id_chamado` int NOT NULL,
  `data_retorno` datetime NOT NULL,
  `usuario` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_chamado`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chamados_retornos`
--

LOCK TABLES `chamados_retornos` WRITE;
/*!40000 ALTER TABLE `chamados_retornos` DISABLE KEYS */;
INSERT INTO `chamados_retornos` VALUES (96037,'2026-06-17 09:39:32','Sistema'),(96877,'2026-06-17 09:39:16','Sistema'),(96897,'2026-06-17 11:04:03','Sistema'),(97103,'2026-06-17 10:37:10','Sistema'),(97181,'2026-06-17 10:36:38','Sistema'),(97271,'2026-06-17 16:38:52','Sistema'),(97304,'2026-06-17 16:47:49','Sistema'),(97955,'2026-06-25 17:04:02',NULL),(97958,'2026-06-26 12:28:57',NULL),(97985,'2026-06-26 15:11:50',NULL),(98082,'2026-06-30 09:56:41',NULL),(98122,'2026-06-30 15:42:08',NULL),(98171,'2026-06-30 15:42:08',NULL);
/*!40000 ALTER TABLE `chamados_retornos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes` (
  `id_cliente` int NOT NULL AUTO_INCREMENT,
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fantasia` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `servidor` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vendedor` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefone_ddd` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observacao` text COLLATE utf8mb4_unicode_ci,
  `anexo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `chamados` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('EM ANDAMENTO','CONCLUIDA','CANCELADA') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'EM ANDAMENTO',
  `data_inicio` date NOT NULL,
  `data_fim` date DEFAULT NULL,
  `emitir_nf` enum('Sim','N├úo') COLLATE utf8mb4_unicode_ci DEFAULT 'N├úo',
  `configurado` enum('Sim','N├úo') COLLATE utf8mb4_unicode_ci DEFAULT 'N├úo',
  `status_tratativa` enum('pendente','em_tratativa') COLLATE utf8mb4_unicode_ci DEFAULT 'pendente',
  `data_inicio_tratativa` datetime DEFAULT NULL,
  `num_licencas` int DEFAULT '0',
  `serial` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `recursos` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_previsao_encerramento` date DEFAULT NULL,
  `cnpj` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `regime_fiscal` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `razao_social` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `uf` varchar(20) CHARACTER SET armscii8 COLLATE armscii8_general_ci DEFAULT NULL,
  `computador_rdp` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `usuario_rdp` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `senha_rdp` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ID_CLIENTE_API` int DEFAULT NULL,
  PRIMARY KEY (`id_cliente`),
  KEY `idx_fantasia` (`fantasia`),
  KEY `idx_data_criacao` (`data_criacao`),
  KEY `idx_status_tratativa` (`status_tratativa`)
) ENGINE=InnoDB AUTO_INCREMENT=138 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes`
--

LOCK TABLES `clientes` WRITE;
/*!40000 ALTER TABLE `clientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contatos`
--

DROP TABLE IF EXISTS `contatos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contatos` (
  `id_contato` int NOT NULL AUTO_INCREMENT,
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `id_cliente` int NOT NULL,
  `nome` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cargo` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefone_ddd` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observacao` text COLLATE utf8mb4_unicode_ci,
  `anexo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_contato`),
  KEY `idx_id_cliente` (`id_cliente`),
  KEY `idx_nome` (`nome`),
  KEY `idx_data_criacao` (`data_criacao`),
  KEY `idx_contatos_email` (`email`),
  CONSTRAINT `contatos_ibfk_1` FOREIGN KEY (`id_cliente`) REFERENCES `clientes` (`id_cliente`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=145 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contatos`
--

LOCK TABLES `contatos` WRITE;
/*!40000 ALTER TABLE `contatos` DISABLE KEYS */;
/*!40000 ALTER TABLE `contatos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `monitor_chamados_historico`
--

DROP TABLE IF EXISTS `monitor_chamados_historico`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `monitor_chamados_historico` (
  `id` bigint unsigned NOT NULL AUTO_INCREMENT,
  `codigo_chamado` int NOT NULL,
  `evento` varchar(30) NOT NULL,
  `status_anterior` varchar(100) DEFAULT NULL,
  `status_novo` varchar(100) DEFAULT NULL,
  `previsao_anterior` varchar(20) DEFAULT NULL,
  `previsao_nova` varchar(20) DEFAULT NULL,
  `resp_tecnico_anterior` varchar(255) DEFAULT NULL,
  `resp_tecnico_novo` varchar(255) DEFAULT NULL,
  `payload_anterior` longtext,
  `payload_novo` longtext,
  `data_evento` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `monitor_chamados_historico`
--

LOCK TABLES `monitor_chamados_historico` WRITE;
/*!40000 ALTER TABLE `monitor_chamados_historico` DISABLE KEYS */;
/*!40000 ALTER TABLE `monitor_chamados_historico` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `monitor_chamados_snapshot`
--

DROP TABLE IF EXISTS `monitor_chamados_snapshot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `monitor_chamados_snapshot` (
  `codigo_chamado` int NOT NULL,
  `cliente` varchar(255) DEFAULT NULL,
  `tipo` varchar(255) DEFAULT NULL,
  `status_atual` varchar(100) DEFAULT NULL,
  `data_chamado` varchar(20) DEFAULT NULL,
  `responsavel` varchar(255) DEFAULT NULL,
  `previsao` varchar(20) DEFAULT NULL,
  `responsavel_tecnico` varchar(255) DEFAULT NULL,
  `descricao` longtext,
  `retorno` longtext,
  `hash_linha` char(64) NOT NULL,
  `ultima_leitura` datetime NOT NULL,
  `ultima_mudanca` datetime DEFAULT NULL,
  PRIMARY KEY (`codigo_chamado`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `monitor_chamados_snapshot`
--

LOCK TABLES `monitor_chamados_snapshot` WRITE;
/*!40000 ALTER TABLE `monitor_chamados_snapshot` DISABLE KEYS */;
/*!40000 ALTER TABLE `monitor_chamados_snapshot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `observacoes_cliente`
--

DROP TABLE IF EXISTS `observacoes_cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `observacoes_cliente` (
  `id_observacao` int NOT NULL AUTO_INCREMENT,
  `id_cliente` int NOT NULL,
  `titulo` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `conteudo` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo` enum('INFORMA├ç├âO','AJUSTE','PROBLEMA','MELHORIA','ATUALIZA├ç├âO','CONTATO') COLLATE utf8mb4_unicode_ci DEFAULT 'INFORMA├ç├âO',
  `tags` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `registrado_por` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT 'Sistema',
  `data_observacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_observacao`),
  KEY `idx_cliente` (`id_cliente`),
  KEY `idx_tipo` (`tipo`),
  KEY `idx_data` (`data_observacao`),
  CONSTRAINT `observacoes_cliente_ibfk_1` FOREIGN KEY (`id_cliente`) REFERENCES `clientes` (`id_cliente`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=170 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `observacoes_cliente`
--

LOCK TABLES `observacoes_cliente` WRITE;
/*!40000 ALTER TABLE `observacoes_cliente` DISABLE KEYS */;
/*!40000 ALTER TABLE `observacoes_cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orientacoes`
--

DROP TABLE IF EXISTS `orientacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orientacoes` (
  `id_orientacao` int NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `categoria` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descricao` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `link_acesso` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `palavras_chave` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ordem` int DEFAULT '0',
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `data_atualizacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_orientacao`),
  KEY `idx_categoria` (`categoria`),
  KEY `idx_palavras_chave` (`palavras_chave`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orientacoes`
--

LOCK TABLES `orientacoes` WRITE;
/*!40000 ALTER TABLE `orientacoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `orientacoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pendencias_treinamentos`
--

DROP TABLE IF EXISTS `pendencias_treinamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pendencias_treinamentos` (
  `id_pendencia` int unsigned NOT NULL AUTO_INCREMENT,
  `id_treinamento` int DEFAULT NULL,
  `id_cliente` int DEFAULT NULL,
  `status_pendencia` varchar(20) NOT NULL DEFAULT 'ABERTA',
  `observacao_finalizacao` text,
  `referencia_chamado` varchar(255) DEFAULT NULL,
  `observacao_conclusao` text,
  `data_criacao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `data_atualizacao` datetime DEFAULT NULL,
  `data_conclusao` datetime DEFAULT NULL,
  PRIMARY KEY (`id_pendencia`),
  KEY `idx_status_pendencia` (`status_pendencia`),
  KEY `idx_cliente_pendencia` (`id_cliente`)
) ENGINE=InnoDB AUTO_INCREMENT=56 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pendencias_treinamentos`
--

LOCK TABLES `pendencias_treinamentos` WRITE;
/*!40000 ALTER TABLE `pendencias_treinamentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `pendencias_treinamentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tarefas`
--

DROP TABLE IF EXISTS `tarefas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tarefas` (
  `id_tarefa` int NOT NULL AUTO_INCREMENT,
  `id_cliente` int DEFAULT NULL,
  `responsavel` enum('Gest├úoPRO','Cliente') DEFAULT 'Gest├úoPRO',
  `titulo` varchar(255) NOT NULL,
  `descricao` text,
  `prioridade` enum('Baixa','M├®dia','Alta') DEFAULT 'M├®dia',
  `status` enum('Pendente','Em Andamento','Conclu├¡da') DEFAULT 'Pendente',
  `data_entrega` datetime DEFAULT NULL,
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_tarefa`),
  KEY `id_cliente` (`id_cliente`)
) ENGINE=MyISAM AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tarefas`
--

LOCK TABLES `tarefas` WRITE;
/*!40000 ALTER TABLE `tarefas` DISABLE KEYS */;
/*!40000 ALTER TABLE `tarefas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `treinamento_efetivo_cliente`
--

DROP TABLE IF EXISTS `treinamento_efetivo_cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `treinamento_efetivo_cliente` (
  `id_avaliacao` int NOT NULL AUTO_INCREMENT,
  `id_cliente` int NOT NULL,
  `processo` varchar(50) NOT NULL,
  `nivel` tinyint(1) NOT NULL DEFAULT '0',
  `meta_minima` int NOT NULL DEFAULT '0',
  `uso_real` int NOT NULL DEFAULT '0',
  `operacoes_suporte` int NOT NULL DEFAULT '0',
  `erros_retrabalho` int NOT NULL DEFAULT '0',
  `created_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_avaliacao`),
  UNIQUE KEY `uq_treinamento_efetivo_cliente_processo` (`id_cliente`,`processo`),
  KEY `idx_treinamento_efetivo_cliente` (`id_cliente`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `treinamento_efetivo_cliente`
--

LOCK TABLES `treinamento_efetivo_cliente` WRITE;
/*!40000 ALTER TABLE `treinamento_efetivo_cliente` DISABLE KEYS */;
/*!40000 ALTER TABLE `treinamento_efetivo_cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `treinamentos`
--

DROP TABLE IF EXISTS `treinamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `treinamentos` (
  `id_treinamento` int NOT NULL AUTO_INCREMENT,
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `id_cliente` int NOT NULL,
  `id_contato` int DEFAULT NULL,
  `fantasia` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nome_contato` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefone_contato` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_treinamento` datetime DEFAULT NULL,
  `tema` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `anexo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('PENDENTE','RESOLVIDO') COLLATE utf8mb4_unicode_ci DEFAULT 'PENDENTE',
  `treinamento_realizado` tinyint(1) DEFAULT '1',
  `observacoes` text COLLATE utf8mb4_unicode_ci,
  `tipo_pendencia_encerramento` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_treinamento_encerrado` datetime DEFAULT NULL,
  `google_event_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `google_event_link` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `google_agenda_link` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observacao_encerramento` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id_treinamento`),
  KEY `idx_id_cliente` (`id_cliente`),
  KEY `idx_id_contato` (`id_contato`),
  KEY `idx_status` (`status`),
  KEY `idx_data_criacao` (`data_criacao`),
  KEY `idx_google_event_id` (`google_event_id`),
  KEY `idx_google_event_link` (`google_event_link`),
  CONSTRAINT `treinamentos_ibfk_1` FOREIGN KEY (`id_cliente`) REFERENCES `clientes` (`id_cliente`) ON DELETE CASCADE,
  CONSTRAINT `treinamentos_ibfk_2` FOREIGN KEY (`id_contato`) REFERENCES `contatos` (`id_contato`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=541 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `treinamentos`
--

LOCK TABLES `treinamentos` WRITE;
/*!40000 ALTER TABLE `treinamentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `treinamentos` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-03 15:26:20
