-- MySQL dump 10.13  Distrib 8.0.31, for Win64 (x86_64)
--
-- Host: localhost    Database: implantacao
-- ------------------------------------------------------
-- Server version	8.0.31

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `clientes`
--

DROP TABLE IF EXISTS `clientes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes` (
  `id_cliente` int NOT NULL AUTO_INCREMENT,
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fantasia` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `servidor` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `vendedor` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefone_ddd` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observacao` text COLLATE utf8mb4_unicode_ci,
  `anexo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('EM ANDAMENTO','CONCLUIDA','CANCELADA') CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'EM ANDAMENTO',
  `data_inicio` date NOT NULL,
  `data_fim` date DEFAULT NULL,
  `emitir_nf` enum('Sim','N├úo') COLLATE utf8mb4_unicode_ci DEFAULT 'N├úo',
  `configurado` enum('Sim','N├úo') COLLATE utf8mb4_unicode_ci DEFAULT 'N├úo',
  `status_tratativa` enum('pendente','em_tratativa') COLLATE utf8mb4_unicode_ci DEFAULT 'pendente',
  `data_inicio_tratativa` datetime DEFAULT NULL,
  `num_licencas` int DEFAULT '0',
  `serial` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `recursos` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_cliente`),
  KEY `idx_fantasia` (`fantasia`),
  KEY `idx_data_criacao` (`data_criacao`),
  KEY `idx_status_tratativa` (`status_tratativa`)
) ENGINE=InnoDB AUTO_INCREMENT=107 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes`
--

LOCK TABLES `clientes` WRITE;
/*!40000 ALTER TABLE `clientes` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contatos`
--

DROP TABLE IF EXISTS `contatos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contatos` (
  `id_contato` int NOT NULL AUTO_INCREMENT,
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `id_cliente` int NOT NULL,
  `nome` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `cargo` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefone_ddd` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observacao` text COLLATE utf8mb4_unicode_ci,
  `anexo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`id_contato`),
  KEY `idx_id_cliente` (`id_cliente`),
  KEY `idx_nome` (`nome`),
  KEY `idx_data_criacao` (`data_criacao`),
  KEY `idx_contatos_email` (`email`),
  CONSTRAINT `contatos_ibfk_1` FOREIGN KEY (`id_cliente`) REFERENCES `clientes` (`id_cliente`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=105 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contatos`
--

LOCK TABLES `contatos` WRITE;
/*!40000 ALTER TABLE `contatos` DISABLE KEYS */;
/*!40000 ALTER TABLE `contatos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `observacoes_cliente`
--

DROP TABLE IF EXISTS `observacoes_cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `observacoes_cliente` (
  `id_observacao` int NOT NULL AUTO_INCREMENT,
  `id_cliente` int NOT NULL,
  `titulo` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `conteudo` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo` enum('INFORMA├ç├âO','AJUSTE','PROBLEMA','MELHORIA','ATUALIZA├ç├âO','CONTATO') COLLATE utf8mb4_unicode_ci DEFAULT 'INFORMA├ç├âO',
  `tags` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `registrado_por` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT 'Sistema',
  `data_observacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_observacao`),
  KEY `idx_cliente` (`id_cliente`),
  KEY `idx_tipo` (`tipo`),
  KEY `idx_data` (`data_observacao`),
  CONSTRAINT `observacoes_cliente_ibfk_1` FOREIGN KEY (`id_cliente`) REFERENCES `clientes` (`id_cliente`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=98 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `observacoes_cliente`
--

LOCK TABLES `observacoes_cliente` WRITE;
/*!40000 ALTER TABLE `observacoes_cliente` DISABLE KEYS */;
/*!40000 ALTER TABLE `observacoes_cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `orientacoes`
--

DROP TABLE IF EXISTS `orientacoes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `orientacoes` (
  `id_orientacao` int NOT NULL AUTO_INCREMENT,
  `titulo` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `categoria` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `descricao` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `link_acesso` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `palavras_chave` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `ordem` int DEFAULT '0',
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `data_atualizacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_orientacao`),
  KEY `idx_categoria` (`categoria`),
  KEY `idx_palavras_chave` (`palavras_chave`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `orientacoes`
--

LOCK TABLES `orientacoes` WRITE;
/*!40000 ALTER TABLE `orientacoes` DISABLE KEYS */;
/*!40000 ALTER TABLE `orientacoes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pendencias_treinamentos`
--

DROP TABLE IF EXISTS `pendencias_treinamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pendencias_treinamentos` (
  `id_pendencia` int unsigned NOT NULL AUTO_INCREMENT,
  `id_treinamento` int NOT NULL,
  `id_cliente` int DEFAULT NULL,
  `status_pendencia` varchar(20) NOT NULL DEFAULT 'ABERTA',
  `observacao_finalizacao` text,
  `referencia_chamado` varchar(255) DEFAULT NULL,
  `observacao_conclusao` text,
  `data_criacao` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `data_atualizacao` datetime DEFAULT NULL,
  `data_conclusao` datetime DEFAULT NULL,
  PRIMARY KEY (`id_pendencia`),
  UNIQUE KEY `uq_pendencia_treinamento` (`id_treinamento`),
  KEY `idx_status_pendencia` (`status_pendencia`),
  KEY `idx_cliente_pendencia` (`id_cliente`)
) ENGINE=InnoDB AUTO_INCREMENT=19 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pendencias_treinamentos`
--

LOCK TABLES `pendencias_treinamentos` WRITE;
/*!40000 ALTER TABLE `pendencias_treinamentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `pendencias_treinamentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tarefas`
--

DROP TABLE IF EXISTS `tarefas`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tarefas` (
  `id_tarefa` int NOT NULL AUTO_INCREMENT,
  `id_cliente` int DEFAULT NULL,
  `responsavel` enum('Gest├úoPRO','Cliente') DEFAULT 'Gest├úoPRO',
  `titulo` varchar(255) NOT NULL,
  `descricao` text,
  `prioridade` enum('Baixa','M├®dia','Alta') DEFAULT 'M├®dia',
  `status` enum('Pendente','Em Andamento','Conclu├¡da') DEFAULT 'Pendente',
  `data_entrega` datetime DEFAULT NULL,
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_tarefa`),
  KEY `id_cliente` (`id_cliente`)
) ENGINE=MyISAM AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tarefas`
--

LOCK TABLES `tarefas` WRITE;
/*!40000 ALTER TABLE `tarefas` DISABLE KEYS */;
/*!40000 ALTER TABLE `tarefas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `treinamentos`
--

DROP TABLE IF EXISTS `treinamentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `treinamentos` (
  `id_treinamento` int NOT NULL AUTO_INCREMENT,
  `data_criacao` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `id_cliente` int NOT NULL,
  `id_contato` int DEFAULT NULL,
  `fantasia` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `nome_contato` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefone_contato` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_treinamento` datetime DEFAULT NULL,
  `tema` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `anexo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `status` enum('PENDENTE','RESOLVIDO') COLLATE utf8mb4_unicode_ci DEFAULT 'PENDENTE',
  `observacoes` text COLLATE utf8mb4_unicode_ci,
  `tipo_pendencia_encerramento` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `data_treinamento_encerrado` datetime DEFAULT NULL,
  `google_event_id` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `google_event_link` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `google_agenda_link` varchar(500) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `observacao_encerramento` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`id_treinamento`),
  KEY `idx_id_cliente` (`id_cliente`),
  KEY `idx_id_contato` (`id_contato`),
  KEY `idx_status` (`status`),
  KEY `idx_data_criacao` (`data_criacao`),
  KEY `idx_google_event_id` (`google_event_id`),
  KEY `idx_google_event_link` (`google_event_link`),
  CONSTRAINT `treinamentos_ibfk_1` FOREIGN KEY (`id_cliente`) REFERENCES `clientes` (`id_cliente`) ON DELETE CASCADE,
  CONSTRAINT `treinamentos_ibfk_2` FOREIGN KEY (`id_contato`) REFERENCES `contatos` (`id_contato`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=357 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `treinamentos`
--

LOCK TABLES `treinamentos` WRITE;
/*!40000 ALTER TABLE `treinamentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `treinamentos` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-04-17 16:22:44
